---
title: Upgrade Checklist for PCF v1.12
owner: Ops Manager
---

<p class='note'><strong>Note:</strong> in Pivotal Cloud Foundry (PCF) versions v2.0 and later, Elastic Runtime has been renamed Pivotal Application Service.</p>

This topic serves as a checklist for upgrading Pivotal Cloud Foundry (PCF) from v1.11 to v1.12.


## <a id="compatibility"></a> Tile Compatibility

Before you upgrade to PCF v1.12, please check whether PCF v1.12 supports the service tile versions that you currently have deployed.

To check PCF version support for any service tile, from Pivotal or a Pivotal partner:

* Navigate to the tile's download page on [Pivotal Network](https://network.pivotal.io).
* Select the tile version in the **Releases** dropdown.
* See the **Depends On** section under **Release Details**. For more information, refer to the tile's release notes.

If the currently-deployed version of a tile is not compatible with PCF v1.12, you must upgrade the tile before you upgrade PCF. You do not need to upgrade tiles that are compatible with both PCF v1.11 and v1.12.

The [Product Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) provides an overview of which PCF versions support which versions of the most popular service tiles from Pivotal.

When you have completed your upgrade please take some time to complete [this survey](https://docs.google.com/forms/d/e/1FAIpQLScf9KuTbF3B9CjldMGqQxF-GA72xMR0DGzaGmhX4uWMrD8pOA/viewform?c=0&w=1).


## <a id="env"></a> Environment Details

Pivotal provides the empty table below as a model to print out or adapt for recording and tracking the tile versions that you have deployed in all of your environments.

|                                                                         |                                                                  | **Sandbox** | **Non-Prod** | **Prod** | **Other...** |
| ----------------------------------------------------------------------- | ---------------------------------------------------------------- | ------------ | ------------- | -------- | ------------ |
| **Pivotal Cloud Foundry**                                                   | [Ops Manager](https://network.pivotal.io/products/ops-manager) |              |               |          |              |
|                                                                         | [Elastic Runtime](https://network.pivotal.io/products/elastic-runtime)     |              |               |          |              |
| **Pivotal Cloud Foundry Services**         | [MySQL v2](https://network.pivotal.io/products/pivotal-mysql)                                                            |              |               |          |              |
|                                                                         | [Redis](https://network.pivotal.io/products/p-redis)                                                            |              |               |          |              |
|                                                                         | [RabbitMQ](https://network.pivotal.io/products/p-rabbitmq)                                                         |              |               |          |              |
|                                                                         | [Single Sign On](https://network.pivotal.io/products/p-identity) (SSO)                                                              |              |               |          |              |
|                                                                         | [Spring Cloud Services](https://network.pivotal.io/products/p-spring-cloud-services)                                            |              |               |          |              |
|                                                                         | [Concourse](https://network.pivotal.io/products/p-concourse)                                                        |              |               |          |              |
|                                                                         | ...                                                              |              |               |          |              |
| **Pivotal Cloud Foundry Partner Services** | [New Relic](https://network.pivotal.io/products/p-new-relic)                                                        |              |               |          |              |
|                                                                         | ...                                                           |              |               |          |              |


## <a id="known-issues"></a> Elastic Runtime v1.12 Known Issues in the Pivotal Knowledge Base

* [Deploy fails with Error: Stemcell doesn't exist](https://community.pivotal.io/s/article/Deploy-fails-with-Error-Stemcell-doesnt-exist)

* [Mitigation for Spectre and Meltdown in Pivotal Cloud Foundry (for CVE-2017-5753, CVE-2017-5715, and CVE-2017-5754)](https://community.pivotal.io/s/article/Mitigation-for-Spectre-and-Meltdown-in-Pivotal-Cloud-Foundry-for-CVE-2017-5753-CVE-2017-5715-and-CVE-2017-5754)

* [Performance Impact of Cloud Foundry Apps and Services because of Spectre and Meltdown](https://community.pivotal.io/s/article/Performance-Impact-of-Cloud-Foundry-Apps-and-Services-Because-of-Spectre-and-Meltdown)

* [Permissions error when running BOSH commands on the Director](https://community.pivotal.io/s/article/Permissions-Error-when-Running-BOSH-Commands-on-the-Director)

* [Replication canary job fails when using a self-signed SSL certificate](https://community.pivotal.io/s/article/Replication-Canary-Job-Fails-when-Using-a-Self-Signed-SSL-Certificate)

* [Running commands such as ps and htop hang inside a Diego Cell](https://community.pivotal.io/s/article/Running-Commands-such-as-ps-and-htop-hang-Inside-a-Diego-Cell)

* [Elastic Runtime deploy fails with a UDP port error](https://community.pivotal.io/s/article/Elastic-Runtime-Deploy-Fails-with-a-UDP-Port-Error)

* [Config server error when re-deploying Elastic Runtime with BBR (fixed in 1.11 newer releases)](https://community.pivotal.io/s/article/Config-Server-Error-when-Redeploying-Elastic-Runtime-with-BBR)

* [SSO memory error when deploying to Pivotal Cloud Foundry 1.12](https://community.pivotal.io/s/article/SSO-Memory-Error-when-Deploying-to-Pivotal-Cloud-Foundry-Version-112)

* [CredHub fails to start when deploying Pivotal Cloud Foundry 1.11 and 1.12 ](https://community.pivotal.io/s/article/CredHub-Fails-to-Start-when-Deploying-Pivotal-Cloud-Foundry-111-and-112)

* [Ops Manager warns improperly of PING failures (fixed in 1.11)](https://community.pivotal.io/s/article/Ops-Manager-Warns-Improperly-of-PING-Failures)

* [BOSH deployment fails with &quot;unresponsive agent&quot; error due to unresponsive VM or component](https://community.pivotal.io/s/article/BOSH-Deployment-Fails-with-Unresponsive-Agent-Error-due-to-Unresponsive-VMs)

* [Missing BOSH Director Error while Installing Ops Manager Elastic Runtime and other Tiles](https://community.pivotal.io/s/article/Missing-BOSH-Director-Error-while-Installing-Ops-Manager-Elastic-Runtime-and-Other-Tiles)

* [How to generate a randomized Administrator Password](https://community.pivotal.io/s/article/How--to--Generate-a-Randomized-Administrator-Password)

* [clock_global job causes high memory usage](https://community.pivotal.io/s/article/clockglobal-Job-Causes-High-Memory-Usage)

* [BOSH Deployment Fails with &quot;unresponsive agent&quot; Error due to Unresponsive VMs](https://community.pivotal.io/s/article/BOSH-Deployment-Fails-with-Unresponsive-Agent-Error-due-to-Unresponsive-VMs)

* [How to edit Operations Manager actual-installation.yml](https://community.pivotal.io/s/article/How-to-Edit-Operations-Manager-actual-installationyml)

* [How to Cancel All Queued BOSH Tasks Using director_ctl](https://community.pivotal.io/s/article/How-to-Cancel-All-Queued-BOSH-Tasks-Using-director-ctl)

* [BOSH Commands Hang Indefinitely or Timeout](https://community.pivotal.io/s/article/BOSH-Commands-Hang-Indefinitely-or-Timeout)

* [Creating an empty “services network” when using on-demand service tiles for non-on-demand usage only](https://community.pivotal.io/s/article/Creating-an-Empty-Services-Network-when-using-on-demand-Service-Tiles-for-Non-On-Demand-Usage-Only) (release note [On-Demand Services Require Dedicated Service Networks](https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/opsmanager-rn.html#services-network))

* [Applications crash due to reaching container pid_limit ](https://community.pivotal.io/s/article/Applications-crash-due-to-reaching-container-pidlimit)

* [MySQL Monitor VM shows High Memory Usage](https://community.pivotal.io/s/article/MySQL-Monitor-VM-shows-High-Memory-Usage)

* [Manually Backing Up and Restoring Redis for Pivotal Cloud Foundry](https://community.pivotal.io/s/article/Manually-Backing-Up-and-Restoring-Redis-for-Pivotal-Cloud-Foundry)

* [Errands intermittently fail with EOF error when executing 'cf auth' on NetScaler](https://community.pivotal.io/s/article/Errands-intermittently-fail-with-EOF-error-when-executing-cf-auth-on-NetScaler)

* [Enabling EBS Volume Encryption for PCF on AWS](https://discuss.pivotal.io/hc/en-us/articles/360002514593)

* [Importing Operations Manager configuration fails with OpenSSL Cipher error](https://discuss.pivotal.io/hc/en-us/articles/360003087934)

* Apply Changes remains greyed out after upgrading isolation segments from 1.11 to 1.12


## <a id="breaking"></a> PCF v1.12 Breaking Changes 

PCF v1.12 has the following breaking changes. For more information, see [PCF v1.12 Breaking Changes](http://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/breaking-changes.html) in the PCF Release Notes.

<table>
<tbody>
<tr>
<td><strong>Component or Service</strong></td>
<td><strong>Affected Product</strong></td>
<td><strong>Details</strong></td>
</tr>
<tr>
<td>Isolation Segment </td>
<td>Elastic Runtime</td>
<td><p><strong>This issue has been addressed in PCF v1.12.18 and later. If upgrading from PCF v1.11 to v1.12 please upgrade to at least PCF v1.12.18.</strong></p>
<p>If you upgrade from PCF v1.11 to v1.12 and the PCF Isolation Segment tile is installed on your foundation, any apps deployed to a space associated with the tile may become unreachable until you manually restart them or map an arbitrary route to each of them.<br />
<br />
This happens because the isolation segment metadata for your existing apps is not automatically sent to the Gorouter on upgrade. Once you restart a given app or map a route to it, the Gorouter will receive the updated route information, including the isolation segment metadata.<br />
<br />
If PCF Isolation Segment is installed on your foundation,<strong> do not upgrade</strong> to PCF v1.12 until this issue is fixed.</p></td>
</tr>
<tr>
<td><p>Cloud Controller Bridge</p></td>
<td>Elastic Runtime</td>
<td><p>In PCF v1.12, the <strong>Enable secure communication between Diego and Cloud Controller</strong> option in the <strong>Cloud Controller</strong> pane of the Pivotal Elastic Runtime tile allows you to enable direct communications between the Cloud Controller and Diego over secure TLS and deactivate the Cloud Controller Bridge. If you deploy a fresh installation of PCF v1.12, the <strong>Enable</strong> checkbox is selected by default.</p>
<p>For <a href="https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html#cc">upgrades</a>, if you want to use this new feature, you must manually select the <strong>Enable Checkbox</strong> after the upgrade is complete and then click <strong>Apply Changes</strong>. Selecting the checkbox before the upgrade results in API downtime.</p></td>
</tr>
<tr>
<td><p>Gorouter and HAProxy TLS Configuration</p></td>
<td>Elastic Runtime</td>
<td><p>In PCF v1.12, Gorouter and HAProxy now always listen for TLS requests. Therefore, you must configure an SSL certificate for Gorouter and HAProxy in Elastic Runtime. You configure Gorouter and HAProxy using the same field and with the same certificate.</p>
<p>In addition, you must specify TLS cipher suites for both HAProxy and Gorouter. These cipher suites are specified independently in different fields. If you configured a previous installation with TLS cipher suites, these configurations persist through the upgrade. Make sure that you have configured the correct set of TLS cipher suites and minimum TLS version to support your client and load balancer needs.</p></td>
</tr>
<tr>
<td><p>Internal Elastic Runtime Service Credentials</p></td>
<td>Elastic Runtime</td>
<td><p>The internal credentials that the Elastic Runtime service uses for inter-component communication are now generated and stored in CredHub instead of Ops Manager. For a list of the credentials migrated to CredHub, see <a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/runtime-rn.html#credhub">Pivotal Elastic Runtime Release Notes</a>.</p>
<p>If you want to access these credentials, you must use the CredHub CLI or the Ops Manager API instead of the <strong>Credentials</strong> tab of the Pivotal Elastic Runtime tile.</p></td>
</tr>
<tr>
<td>Postgres</td>
<td>Elastic Runtime</td>
<td><p>This release removes the legacy Postgres database VMs for the Cloud Controller and UAA. If your deployment was originally installed before PCF v1.6 and still uses Postgres, you must contact your dedicated Support Engineer or Platform Architect for assistance in migrating your Cloud Controller and UAA databases to MySQL. They have access to the PostgreSQL-to-MySQL Migrator tool and instructions on Pivotal Network.</p>
<p>If you do not migrate to MySQL before upgrading to Elastic Runtime v1.12, the upgrade fails. For more information, see <a href="https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html#postgres">Migrate the CC and UAA Databases from Postgres to MySQL</a>.</p></td>
</tr>
<tr>
<td>MySQL for PCF and PCF Runtime for Windows</td>
<td>Elastic Runtime</td>
<td><p>If your existing PCF v1.11.x installation includes both <a href="https://docs.pivotal.io/pivotalcf/1-12/windows/index.html">PCF Runtime for Windows</a> and MySQL for PCF v1.x, you must upgrade to MySQL for PCF v1.10.3 or later before you upgrade to PCF Elastic Runtime v1.12. For instructions on how to upgrade MySQL for PCF, see the <a href="http://docs.pivotal.io/p-mysql/1-10/index.html">MySQL for PCF</a> documentation.</p>
<p>If you do not upgrade MySQL for PCF, the upgrade fails. For more information, see <a href="https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html#upgrade-mysql">Upgrade MySQL for PCF</a>.</p></td>
</tr>
<tr>
<td>BOSH CLI v2</td>
<td>Ops Man</td>
<td>Ops Manager v1.12.0 uses the BOSH Command Line Interface (CLI) v2. In v2, the formatting of the CLI output has changed. If your deployment uses scripts that rely on BOSH output, you must refactor them to interpret the command output of the BOSH CLI v2. For more information about the BOSH CLI v2, see <a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/opsmanager-rn.html#bosh2">Pivotal Operations Manager Release Notes</a>.</td>
</tr>
<tr>
<td>Director Certificate Rotation</td>
<td>Elastic Runtime</td>
<td>If your original Elastic Runtime deployment was PCF v1.6 or earlier, you must regenerate the non-configurable Director certificates to deploy CredHub. During a deploy, CredHub attempts to verify the connection to UAA on the BOSH Director with the Ops Manager certificate Subject Alternative Name (SAN). Ops Manager 1.6 and earlier generated non-configurable certificate SANs in a format that CredHub does not understand. For more information, see <a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/opsmanager-rn.html#credhub-certs">CredHub Requires Director Certificate Rotation</a>.</td>
</tr>
<tr>
<td><p>PCF Log Search</p></td>
<td>Ops Man</td>
<td><p>PCF Log Search is not compatible with PCF v1.12. If your deployment contains PCF Log Search, you must remove the product tile before upgrading to PCF v1.12. Failure to remove this product prior to the upgrade may cause issues with your deployment.</p>
<p>For more information, see the <a href="https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a> topic.</p></td>
</tr>
</tbody>
</table>


## <a id="before"></a> Before Upgrade

<table>
<tbody>
<tr>
<td><strong>Step</strong></td>
<td><strong>Note/Reason </strong></td>
<td><strong>Product/component</strong></td>
</tr>
<tr>
<td><p>Ensure all backups have been carried out.</p>
</td>
<td><p>Pivotal recommends frequently backing up your installation settings before making any changes to your PCF deployment.</p>
<p>See <a href="https://docs.pivotal.io/pivotalcf/1-11/customizing/backup-restore/index.html">Backing Up and Restoring Pivotal Cloud Foundry</a>.</p></td>
<td>PCF</td>
</tr>
<tr>
<td><p>Read <a href="https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a> for upgrading to v1.12 and complete all relevant actions.</p></td>
<td><p>Please review all of the upgrade notes.</p>
	<ul><li>If your deployment contains PCF Log Search, you must remove the product tile before upgrading. Failure to remove this product prior to upgrade may cause issues with your deployment.</li>
	<li>Ensure you have lifecycle errands enabled for your products.</li>
	<li>If your existing PCF v1.11.x installation includes both PCF Runtime for Windows and MySQL for PCF v1.x, you must upgrade to MySQL for PCF v1.10.3 or later before you upgrade to PCF Pivotal Application Service v1.12.</li>
	<li>Ensure that your persistent disk usage is < 50%.</li>
	<li>Ensure that you have your <strong>Decryption Passphrase</strong> stored and known before upgrading.</li></ul></td>
<td>PCF</td>
</tr>
<tr>
<td><p>Read and review <a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/runtime-rn.html">Pivotal Elastic Runtime v1.12 Release Notes</a></p></td>
<td><p>Review all release notes for any feature changes that may affect you during or after upgrade.</p>
	<ul><li>You must upgrade first to a version of Pivotal Application Service v1.11.x to successfully upgrade to v1.12.</li>
	<li>Releases 1.12.10 and 1.12.11 introduce a bug that causes BBR backups to fail due to a missing default domain in the mysql-backup certificate. We recommend skipping this release and upgrading to 1.11.24 or higher, which resolves this issue. More information can be found in the Knowledge Base article <a href="https://community.pivotal.io/s/article/Pivotal-Application-Service-Backup-and-Restore-Fails-due-to-Missing-Streaming-mysql-backup-tool-Domain">Pivotal Application Service Backup and Restore Fails due to Missing Streaming mysql-backup-tool Domain</a>.</li>
	<li>Review the new features available in Pivotal Elastic Runtime v1.12.</li>
	<li>Internal credentials, the <code>secret</code> and <code>simple_credentials</code> that Pivotal Application Service uses for inter-component communication, are now generated and stored in CredHub instead of Ops Manager. </li>
	<li>This release removes the etcd server VMs from the PCF deployment. Operators must ensure they are deploying service tiles that are known to be compatible with PCF Elastic Runtime 1.12.</li></ul></td>
</td>
<td>Elastic Runtime</td>
</tr>
<tr>
<td><p>Read and review <a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/opsmanager-rn.html">PCF Ops Manager v1.12 Release Notes</a></p></td>
<td><p>Review all release notes for any feature changes that may affect you during or after upgrade.</p>
	<ul><li>BOSH CLI output formatting has changed. If your deployment uses scripts that rely on BOSH output, you must refactor them to interpret BOSH CLI v2 command output.</li></ul></td>
</td>
<td>Ops Manager</td>
</tr>
<tr>
<td><p>Read and review the <a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/runtime-rn.html#knownissues">Known Issues</a> for Elastic Runtime v1.12.</p></td>
<td><p>This doc covers recommended actions, new issues and existing issues for Elastic Runtime v1.12.</p>
<p>Some of these issues include:</p>
	<ul><li>The BOSH Backup and Restore (BBR) script does not restart the CredHub process. Please refer to the Knowledge Base article <a href="https://community.pivotal.io/s/article/Config-Server-Error-when-Redeploying-Elastic-Runtime-with-BBR">Config Server Error when Redeploying Elastic Runtime with BBR</a>.</li>
	<li>The Autoscaler job cannot be scaled to greater than one instance.</li></ul></td>
</td>
<td>Elastic Runtime</td>
</tr>
<tr>
<td><p>Read and review the <a href="https://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/opsmanager-rn.html#known-issues">Known Issues</a>  for Ops Manager v1.12.</p></td>
<td><p>This document covers recommended actions, new issues and existing issues for Ops Manager v1.12.</p>
<p>Some of these issues include:</p>
	<ul><li>If your deployment contains PCF Log Search, you must remove the product tile before upgrading. Failure to remove this product prior to upgrade may cause issues with your deployment.</li>
	<li>If you use any service tile that offers both on-demand and not on-demand modes of operation, clicking <strong>Apply Changes</strong> in Ops Manager fails if you did not define a dedicated service network for the tile.</li>
	<li>CF Ops assumed that the Ops Manager installation settings artifact contained all necessary releases, which is no longer the case in PCF v1.12. CFOps should not be used to back up and restore PCF v1.12.</li></ul></td>
</td>
<td>Ops Manager</td>
</tr>
<tr>
<td><p>Read and review the <a href="#breaking">Breaking Changes</a> for Ops Manager and Elastic Runtime v1.12.</p></td>
<td><p>This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry v1.12.</p>
<p>Some of these breaking changes include: </p>
	<ul><li>Gorouter and HAProxy now always listen for TLS requests. Therefore, you must configure an SSL certificate for Gorouter and HAProxy in Pivotal Application Service.</li>
	<li>Ops Manager v1.12.0 uses the BOSH Command Line Interface (CLI) v2. In v2, the formatting of the CLI output has changed. If your deployment uses scripts that rely on BOSH output, you must refactor them to interpret the command output of the BOSH CLI v2.</li></ul></td>
</td>
<td>PCF</td>
</tr>
<tr>
<td>Review the ports listed in <a href="https://docs.pivotal.io/pivotalcf/1-12/security/networking/diego-network-paths.html">Diego Network Communications</a>.</td>
<td>This topic describes <a href="https://docs.pivotal.io/pivotalcf/1-12/concepts/diego/diego-architecture.html">Diego</a> internal network communication paths with other Elastic Runtime components.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Run and collect foundation health status, using one of the following methods:</p>
	<ul><li>If external metrics monitoring has been enabled, verify all VM CPU/RAM/DISK utilization is good.</li>
	<li>Run BOSH CLI directly to verify the status:
		<ul><li><code>bosh vms --details</code></li>
			<li><code>bosh vms --vitals</code></li>
			<li><code>bosh2 -e ENV_NAME -d DEPLOYMENT_NAME cck</code></li>
			<li><code>bosh2 -e ENV_NAME -d DEPLOYMENT_NAME instances --ps</code></li></ul></li>
	<li>Using the Ops Manager GUI, check the PAS and service tile status pages and verify CPU/RAM/DISK utilization is good.</li>
	<li>Review the <a href="https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html">PAS KPIs</a> to ensure that the foundation is healthy.</li></ul></td>
</td>
<td><p>To ensure that the foundation is in a healthy status before upgrading.</p>
	<ul><li><code>bosh vms --vitals</code> to highlight any VMs with high CPU, high memory, high disk utilization. Also to identify where State != running.</li>
	<li></li>
	<li><code>bosh2 -e ENV_NAME -d DEPLOYMENT_NAME instances</code> (<code>--ps</code> or <code>--vitals</code> or <code>--failing</code>) to highlight individual job failure.</li></ul></td>
</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Review the <a href="https://docs.pivotal.io/pivotalcf/1-12/monitoring/index.html#new">KPI Changes</a> from PCF v1.11 to v1.12.</p></td>
<td>This document highlights new and changed Key Performance Indicators (KPIs) that operators may want to monitor with their PCF deployment to help ensure it is in a good operational state.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Migrate your Cloud Controller and UAA databases from Postgres to MySQL if needed.</p>
</td>
<td><p>Prior to PCF v1.6, Postgres was the default database for Cloud Controller and UAA. PCF v1.6 introduced MySQL as the default database and PCF v1.12 removes the legacy Postgres database VMs.</p>
<p>If your deployment was originally installed before PCF v1.6 and still uses Postgres, you must contact your dedicated Support Engineer or Platform Architect for assistance migrating your Cloud Controller and UAA databases to MySQL. They will have access to the PostgreSQL-to-MySQL Migrator tool and instructions on Pivotal Network.</p>
<p>If you do not migrate to MySQL before upgrading to PCF v1.12, the upgrade will fail during the deployment of the Pivotal Elastic Runtime tile.</p>
<p>See <a href="https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html#postgres">Prep 1: Migrate the CC and UAA Databases from Postgres to MySQL</a>.</p></td>
<td>Elastic Runtime</td>
</tr>
<tr>
<td><p>Check the remaining Diego Cell RAM and Disk capacity to verify there is sufficient resources for app containers.</p></td>
<td><p>The KPIs that monitor these values are:</p>
<p><code>rep.CapacityRemainingMemory</code></p>
<p><code>rep.CapacityRemainingDisk</code></p>
<p>See <a href="https://docs.pivotal.io/pivotalcf/1-11/monitoring/kpi.html#cell">Diego Cell Metrics</a> for more information on these KPIs.</p></td>
<td>PCF</td>
</tr>
<tr>
<td><p>Verify that Apps Manager is working properly.</p></td>
<td>Verify that Apps Manager is working by logging into Apps Manager successfully and verify that you can navigate to a Space.</td>
<td>PCF</td>
</tr>
<tr>
<td>Check that a test app can be pushed and scaled horizontally via manual or automatic test.</td>
<td>To ensure the platform is working as expected before upgrade in relation to pushing an app.</td>
<td>PCF</td>
</tr>
<tr>
<td>If needed, change the Diego cell max inflight value from its default.</td>
<td>For PCF v1.10 and later, the default maximum in-flight Diego cell instances is 4%. The <code>max_in_flight</code> setting for the Diego cell job is configured in the BOSH manifest. See <a href="https://docs.pivotal.io/pivotalcf/1-11/adminguide/diego-cell-upgrade.html#limitations-considerations">Preventing Overload</a> for details and instructions.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>If needed, disable unused Elastic Runtime post-deploy errands if not needed.</p>
	<ul><li>Volume Services</li>
	<li>Go to <strong>Advanced Features</strong> and make sure that <strong>NFSv3 Volume Services</strong> is disabled. Go to <strong>Errands</strong> and set the <strong>NFS Broker Errand</strong> to off</li>
	<li>Notification Service</li>
	<li>Notification UI</li></ul></td>
</td>
<td><p>See <a href="https://docs.pivotal.io/tiledev/1-12/tile-errands.html#post-deploy">Post-Deploy Errands</a> for more information.</p>
<p>Only disable these errands if they are not needed for your environment. </p></td>
<td>Elastic Runtime</td>
</tr>
<tr>
<td><p>Update the overlay subnet if you need to avoid address collision with a third-party service on the same subnet.</p></td>
<td><p>Starting v1.12 Elastic Runtime, the internal container network overlay subnet changed from <code>10.254.0.0/22</code> to <code>10.255.0.0/16</code>.</p>
<p>You can update the overlay subnet if needed by going to Elastic Runtime &gt; Networking &gt; Overlay Subnet.</p></td>
<td>PCF</td>
</tr>
<tr>
<td><p>If MySQL is being used with cluster setup, run the mysql-diag tool to validate health of the cluster.</p>
<p>See <a href="http://docs.pivotal.io/p-mysql/1-10/mysql-diag.html#bosh-v2">Run mysql-diag Using BOSH CLI v2</a>.</p></td>
<td>Validate the health of MySQL before upgrading.</td>
<td>PCF</td>
</tr>
<tr>
<td><strong>(Optional) BOSH Add-on</strong></td>
<td></td>
<td></td>
</tr>
<tr>
<td><p>Check IPSec between two VMs. See <a href="http://docs.pivotal.io/addon-ipsec/troubleshooting.html">Troubleshooting the IPsec Add-on for PCF</a>.</p></td>
<td>To validate IPSec is working as expected before upgrade.</td>
<td>IPSec</td>
</tr>
<tr>
<td><strong>(Optional) Network Firewall</strong></td>
<td>If your PCF foundation has strict network ingress/egress policy for multiple AZ subnets.</td>
<td></td>
</tr>
<tr>
<td>New Ports in PCF v1.12: A set of ports (4003 and 4103) for Diego BBS.</td>
<td><p>There are a new set of ports (4003 and 4103) for Diego BBS.</p></td>
<td></td>
</tr>
<tr>
<td>Run <code>bosh cleanup --all</code> to clean up old stemcells/releases/disks for one version upgrade.</td>
<td>This step avoids filling the BOSH Director persistent disk during the new product stemcell/releases upload.</td>
<td>Tiles</td>
</tr>
</tbody>
</table>


## <a id="during"></a> During Upgrade

<table>
<tbody>
<tr>
<td><strong>Step</strong></td>
<td><strong>Note/Reason </strong></td>
<td><strong>Product/Component</strong></td>
</tr>
<tr>
<td>(Optional) Periodically take snapshots of storage metrics.</td>
<td>This step is advised if you have a large foundation and you have experienced storage issues in the past.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Periodically Monitor progress:</p>
	<ul><li><code>bosh task TASK_NUMBER</code></li>
	<li>App Availability</li>
	<li>CF CLI Commands</li>
	<li>Availability of Ops Manager GUI</li>
	<li>NAS performance (if using NAS)</li>
	<li>vSphere Performance (if on vSphere)</li>
	<li><code>bosh vms --vitals</code>, <code>bosh vms --details</code>, and <code>bosh instances --ps</code></li></ul></td>
</td>
<td>Monitor the progress of the upgrade, checking the status of the foundation at various locations.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Check instance count by state of Diego Components using cfdot.</p>
	<ol><li><code>bosh ssh</code> into a Diego job</li>
	<li>Run the command <code>cfdot actual-lrp-groups | jq '.instance, .evacuating | values' | jq -s -r 'group_by(.state)[] | .[0].state + ": " + (length | tostring)'</code></li></ol></td>
</td>
<td><p>See the <a href="https://github.com/cloudfoundry/cfdot">cfdot repo</a> for details regarding cfdot and its uses.</p></td>
<td>Elastic Runtime</td>
</tr>
<tr>
<td><p>(Optional) In the event there are issues with the upgrade, perform the following tasks.</p>
	<ul><li>Collect all job logs</li>
	<li>Collect task debug logs for tasks of VM upgrades</li>
	<li>Collect installation log from Ops Manager</li></ul></td>
</td>
<td>This information will be helpful in determining the cause of upgrade issues.</td>
<td>PCF</td>
</tr>
</tbody>
</table>


## <a id="after"></a> After Upgrade

<table>
<tbody>
<tr>
<td><strong>Step</strong></td>
<td><strong>Note/Reason </strong></td>
<td><strong>Product/Component</strong></td>
</tr>
<tr>
<td>After upgrading to v1.12 complete the steps outlined in upgrading PCF v1.12 document <a href="https://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html#after-upgrade">here</a>.</td>
<td>Follow the steps outlined in the “After You Upgrade” section.</td>
<td>All</td>
</tr>
<tr>
<td>Perform performance test by pushing and scaling a test application.</td>
<td>Push and scale an app, and verify that it works.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Run and collect health-check stats using the following commands:</p>
	<ul><li><code>bosh vms --vitals</code></li>
	<li><code>bosh2 ENV_NAME -d DEPLOYMENT_NAME instances --ps</code></li></ul></td>
</td>
<td><p>To ensure that all Jobs and process are running as expected. </p>
	<ul><li><code>bosh vms --vitals</code> to highlight any VMs with high CPU, high memory, high disk utilization. Also to identify where State != running.</li>
	<li>bosh2 -e ENV_NAME -d DEPLOYMENT_NAME instances</code> (<code>--ps</code> or <code>--vitals</code> or <code>--failing</code>) to highlight individual job failure.</li></ul></td>
</td>
<td>PCF and all Tiles</td>
</tr>
<tr>
<td>If you have added custom VM_TYPE or PERSISTENCE DISK TYPES, ensure that these values are correctly set and didn’t get overwritten.</td>
<td>Verify that values are retained in Ops Manager UI.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>If MySQL is being used with cluster setup, run the mysql-diag tool to validate health of the cluster.</p>
<p>See <a href="http://docs.pivotal.io/p-mysql/1-10/mysql-diag.html#bosh-v2">Run mysql-diag Using BOSH CLI v2</a>.</p></td>
<td>Validate the health of MySQL after upgrading.</td>
<td>Elastic Runtime</td>
</tr>
<tr>
<td>Run <code>bosh2 -e ENV_NAME clean-up --all</code> to clean up old stemcells/releases/disks for one version upgrade.</td>
<td>Cleans up releases, stemcells, orphaned disks, and other unused resources.</td>
<td>Tiles</td>
</tr>
</tbody>
</table>


## <a id="survey"></a> Survey

Please take some time to help us improve this document by completing the [Upgrade Checklist Survey](https://docs.google.com/forms/d/e/1FAIpQLScf9KuTbF3B9CjldMGqQxF-GA72xMR0DGzaGmhX4uWMrD8pOA/viewform?c=0&w=1).