---
title: Upgrade Preparation Checklist for PCF v2.1
owner: Ops Manager
---

This topic serves as a checklist for preparing to upgrade Pivotal Cloud Foundry (PCF) from v2.0 to v2.1.

This topic contains important preparation steps that you must follow before beginning your upgrade. Failure to follow these instructions may jeopardize your existing deployment data and cause the upgrade to fail.

After completing the steps in this topic, you can continue to [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html).


## <a id="back-up-your-pcf-deployment"></a> Back Up Your PCF Deployment

Pivotal recommends backing up your PCF deployment before upgrading, to restore in the case of failure. To do this, follow the instructions in the [Backing Up Pivotal Cloud Foundry with BBR](../customizing/backup-restore/backup-pcf-bbr.html) topic.


## <a id="review-pas-release-notes"></a> Review Changes in PCF v2.1

Review each of the following links to understand the changes in the new release, such as new features, known issues, and breaking changes.

* **Release Notes**
	* [Ops Manager Release v2.1 Release Notes](../../pcf-release-notes/opsmanager-rn.html)
	* [PAS v2.1 Release Notes](../../pcf-release-notes/runtime-rn.html)
* **Known Issues**
	* [Ops Manager v2.1 Known Issues](../../pcf-release-notes/opsmanager-rn.html#known-issues)
	* [PAS v2.1 Known Issues](../../pcf-release-notes/runtime-rn.html)
	* The following Pivotal Knowledge Base (KB) articles describe known issues for **PCF v2.1**:
		* [Disabling SAML Identity Provider When Switching Identity Providers for PCF 2.1](https://discuss.pivotal.io/hc/en-us/articles/360000793534)
		* [How to Bind Volume Services With a Read-Only Mount Point](https://discuss.pivotal.io/hc/en-us/articles/360000953413)
		* [Graceful Shutdown of .NET apps in Cloud Foundry Windows](https://discuss.pivotal.io/hc/en-us/articles/115005092734)
		* [Restore from PAS Automated Database Backup is Not Supported in 1.11 and later](https://discuss.pivotal.io/hc/en-us/articles/360001817593)
		* [How to Edit Ops Manager actual-installation.yml](https://discuss.pivotal.io/hc/en-us/articles/360000541414)
		* [`Client Registration with UAA Failed` Error when Binding App to Single Sign-On (SSO) Instance](https://discuss.pivotal.io/hc/en-us/articles/360000580554)
		* [Healthwatch Installation Fails on a Non-RFC 1918 Network](https://discuss.pivotal.io/hc/en-us/articles/360000475333)
		* [How to Cancel All Queued BOSH Tasks Using director\_ctl](https://discuss.pivotal.io/hc/en-us/articles/360000765353)
		* [BOSH Commands Hang Indefinitely or Timeout](https://discuss.pivotal.io/hc/en-us/articles/115015708488)
		* [Deployment fails when PAS 2.1 is configured to use the NSX-T CNI plugin](https://discuss.pivotal.io/hc/en-us/articles/360003094974)
		* [Errands intermittently fail with EOF error when executing `cf auth` on NetScaler](https://discuss.pivotal.io/hc/en-us/articles/360002507573)
		* [Enabling EBS Volume Encryption for PCF on AWS](https://discuss.pivotal.io/hc/en-us/articles/360002514593)
		* [Unable to import Xenial stemcell when upgrading to tile that requires Xenial
		](https://community.pivotal.io/s/article/unable-to-import-xenial-stemcell-when-upgrading-to-tile-that-requires-xenial)
* **Breaking Changes**
	* [PCF v2.1 Breaking Changes](../../pcf-release-notes/breaking-changes.html)
* **KPI Changes**
	* [KPI Changes from PCF v2.0 to v2.1](../monitoring/index.html#new)
* **Diego Network Communications**:
	* [Diego Network Communications](../../security/networking/diego-network-paths.html)


## <a id="tiles-addons"></a> Update Tiles and Add-Ons

The following section describes changes you must make to your product tiles and add-ons before upgrading PCF.

### <a id="compatibility"></a> Review Tile Compatibility

Before you upgrade to PCF v2.1, please check whether the service tiles that you currently have deployed on PCF v2.0 are compatible with PCF v2.1.

To check PCF versions supported by a service tile, either from Pivotal or a Pivotal partner:

* Navigate to the tile's download page on [Pivotal Network](https://network.pivotal.io).
* Select the tile version in the **Releases** dropdown.
* See the **Depends On** section under **Release Details**. For more information, refer to the tile's release notes.

If the currently-deployed version of a tile is not compatible with PCF v2.1, you must upgrade the tile to a compatible version before you upgrade PCF. You do not need to upgrade tiles that are compatible with both PCF v2.0 and v2.1.

Some partner service tiles may be incompatible with PCF v2.1. Pivotal works with partners to ensure their tiles are updated to work with the latest versions of PCF. For more information about which partner service release compatibility, review the **Depends On** section of the partners tile download page, the partners services release documentation in [Pivotal Documentation](https://docs.pivotal.io), or contact the partner organization that produces the service tile.

The [Product Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) provides an overview of which PCF versions support which versions of the most popular service tiles from Pivotal.

#### <a id="env"></a> Environment Details

Pivotal provides the empty table below as a model to print out or adapt for recording and tracking the tile versions that you have deployed in all of your environments.

|                                                                         |                                                                  | **Sandbox** | **Non-Prod** | **Prod** | **Other...** |
| ----------------------------------------------------------------------- | ---------------------------------------------------------------- | ------------ | ------------- | -------- | ------------ |
| **Pivotal Cloud Foundry**                                                   | [Ops Manager](https://network.pivotal.io/products/ops-manager) |              |               |          |              |
|                                                                         | [Pivotal Application Service](https://network.pivotal.io/products/elastic-runtime) (PAS)     |              |               |          |              |
| **Pivotal Cloud Foundry Services**         | [MySQL v2](https://network.pivotal.io/products/pivotal-mysql)                                                            |              |               |          |              |
|                                                                         | [Redis](https://network.pivotal.io/products/p-redis)                                                            |              |               |          |              |
|                                                                         | [RabbitMQ](https://network.pivotal.io/products/p-rabbitmq)                                                         |              |               |          |              |
|                                                                         | [Single Sign On](https://network.pivotal.io/products/p-identity) (SSO)                                                              |              |               |          |              |
|                                                                         | [Spring Cloud Services](https://network.pivotal.io/products/p-spring-cloud-services)                                            |              |               |          |              |
|                                                                         | [Concourse](https://network.pivotal.io/products/p-concourse)                                                        |              |               |          |              |
|                                                                         | ...                                                              |              |               |          |              |
| **Pivotal Cloud Foundry Partner Services** | [New Relic](https://network.pivotal.io/products/p-new-relic)                                                        |              |               |          |              |
|                                                                         | ...                                                           |              |               |          |              |

### <a id="upgrade-service-tiles"></a> Upgrade Services Tiles

Upgrade all service tiles to versions compatible with PCF v2.1.
Review the [Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) and tile documentation to check version compatibility.

### <a id='bosh-director'></a> Configure BOSH Director

With each release of a new PCF version, BOSH Director may require specific updates before upgrading to the new version. See the following sections for what action to take before upgrading to PCF v2.1:

1. If not already disabled, disable the VM Resurrector:
   1. From your **Installation Dashboard**, select the **BOSH Director** tile.
    1. Click **Director Config**.
    1. Clear the **Enable VM resurrector plugin** checkbox.
    1. Click **Save**.
    1. Return to the **Installation Dashboard**.
    1. Click **Apply Changes**.

1. If you disabled BOSH DNS, reenable it. In the **Director Config** pane of the **BOSH Director** tile, clear the **Disable BOSH DNS server for troubleshooting purposes** checkbox.

1. Check the required machine specifications for Ops Manager v2.1. These specifications are specific to your IaaS. If these specifications do not match your existing Ops Manager, modify the values of your Ops Manager VM instance. For example, if the boot disk of your existing Ops Manager is 50&nbsp;GB and the new Ops Manager requires 100&nbsp;GB, then increase the size of your Ops Manager boot disk to 100&nbsp;GB.

### <a id='patch'></a> Configure PAS

In PCF 2.1, the Gorouter can communicate with app instances via TLS, which improves security but also increases resource usage. Prior versions of PCF did not support this feature. See [HTTP Routing](../concepts/http-routing.html#tls-to-back-end) for more information.

**To support TLS routing** you should ensure that you have enough available memory capacity for app instances, and enable the **Router uses TLS to verify application identity** checkbox in the PAS and Isolation Segment tile **Application Containers** pane.

### <a id="disable-unused-errands"></a> Disable Unused Errands

To save upgrade time, you can disable unused PAS post-deploy errands. See the [Post-Deploy Errands](https://docs.pivotal.io/tiledev/2-1/tile-errands.html#post-deploy) section of the Errands topic for details. Only disable these errands if your environment does not need them.

In some cases, if you have previously disabled lifecycle errands for any installed product to reduce deployment time, you may want to re-enable these errands before upgrading. For more information, see the [Adding and Deleting Products](../customizing/add-delete.html#add-import) topic.

### <a id="upgrade-add-ons"></a> Check OS Compatibility of PCF and BOSH-Managed Add-Ons

Before upgrading to PCF v2.1, operators who have deployed any PCF add-ons (such as **IPsec for PCF**, **ClamAV for PCF**, or **File Integrity Monitoring for PCF**) and who have deployed or are planning to deploy [PAS for Windows 2012R2](../windows2012r2/index.html) must modify the add-on manifest to specify a compatible OS stemcell.

For example, **File Integrity Monitor for PCF** (FIM) is not supported on Windows. Therefore, the manifest must use an `include` directive to specify the target OS stemcell of `ubuntu-trusty`.

To update an add-on manifest, do the following:

1. Locate your existing add-on manifest file. For example, for FIM, locate the `fim.yml` you uploaded to the Ops Manager VM.

1. Modify the manifest to include following `include` directive to your manifest:
    ```yml
      include:
        stemcell:
          - os: ubuntu-trusty
    ```

1. Re-upload the manifest file to your PCF deployment. For example instructions, see [Create the FIM Manifest](https://docs.pivotal.io/addon-fim/index.html#create-mfest).

If you are using any other BOSH-managed add-ons in your deployment, you should verify OS compatibility for those component as well. For more information about configuring BOSH add-on manifests, see the [BOSH documentation](https://bosh.io/docs/runtime-config.html#addons).

### <a id="azure-blobstore-addon"></a> Check External Blobstore Backup and Restore Add-On

If you have enabled external blobstore backups for an Azure Blobstore using the [Azure Backup Add-On](../../customizing/backup-restore/enabling-external-blobstore-backups.html#azure), you need to update your runtime configuration to remove the `sdk-preview` add-on before upgrading to PCF v2.1. If you do not remove this job, upgrading PAS fails with the error:

<pre>
Preparing deployment: Preparing deployment (00:00:01)
  L Error: Colocated job 'azure-blobstore-backup-restorer' is already added to the instance group 'backup-restore'.
</pre>

After removing this job from your runtime configuration, ensure that the **Enable backup and restore** checkbox is enabled in the PAS tile > **File Storage** pane. See [External Azure Storage](../customizing/azure-er-config-terraform.html#external_azure) for instructions.


## <a id="cert-expiry"></a> Check Certificate Authority Expiration Dates

Depending on the requirements of your deployment, you may need to rotate your Certificate Authority (CA) certificates. The non-configurable certificates in your deployment expire every two years. You must regenerate and rotate them so that critical components do not face a complete outage.

<p class="note"><strong>Note:</strong> PCF uses SHA-2 certificates and hashes by default. You can convert existing SHA-1 hashes into SHA-2 hashes by rotating your Ops Manager certificates using the procedure described in the <a href="../security/pcf-infrastructure/api-cert-rotation.html#rotate-saml-ca">Regenerating and Rotating Non-Configurable TLS/SSL Certificates</a> section of <em>Managing TLS Certificates</em>.</p>

To retrieve information about all the RSA and CA certificates for the BOSH Director and other products in your deployment, you can use the `GET /api/v0/deployed/certificates?expires_within=TIME` request of the Ops Manager API.

In this request, the `expires_within` parameter is optional. Valid values for the parameter are `d` for days, `w` for weeks, `m` for months, and `y` for years. For example, to search for certificates expiring within one month, replace `TIME` with `1m`:

<pre class="terminal">$ curl "https://OPS-MAN-FQDN/api/v0/deployed/certificates?expires_within=1m" \
 -X GET \
 -H "Authorization: Bearer UAA_ACCESS_TOKEN"
</pre>

For information about regenerating and rotateing CA certificates, see [Managing TLS Certificates](../security/pcf-infrastructure/api-cert-rotation.html).


## <a id="capacity"></a> Check the Capacity of Your Deployment

The following sections describe steps for ensuring your deployment has adequate capacity to perform the upgrade.

### <a id="confirm-om-disk"></a> Confirm Adequate Disk Space

<%= partial '../customizing/check_disk_before_upgrade' %>

### <a id="check-diego-cell-ram-and-disk"></a> Check Diego Cell RAM and Disk

Check that Diego cells have sufficient available RAM and disk capacity to support app containers.

The KPIs that monitor these these resources are are:

* `rep.CapacityRemainingMemory`
* `rep.CapacityRemainingDisk`

### <a id="adjust-diego-cell-limits"></a> Adjust Diego Cell Limits

If needed, adjust the maximum number of Diego cells that the platform can upgrade simultaneously, to avoid overloading the other cells. See [Managing Diego Cell Limits During Upgrade](../adminguide/diego-cell-upgrade.html).

For PCF v1.10 and later, the maximum number of cells that can update at once, `max_in_flight` is 4%. This setting is configured in the BOSH manifest's Diego cell definition. See the [Preventing Overload](../adminguide/diego-cell-upgrade.html#limitations-considerations) section for details.

Review the [Diego Cell Metrics](../monitoring/kpi.html#cell) section of the KPI topic for more information about these KPIs.

### <a id="storage"></a> Review File Storage IOPS and Other Upgrade Limiting Factors

During the PCF upgrade process, a large quantity of data is moved around on disk.

To ensure a successful upgrade of PCF, verify that your underlying PAS file storage is performant enough to handle the upgrade. For more information about the configurations to evaluate, see [Upgrade Considerations for Selecting Pivotal Cloud Foundry Storage](../opsguide/storage_considerations.html).

In addition to file storage IOPS, consider additional existing deployment factors that can impact overall upgrade duration and performance:

|**Factor**|**Impact**|
|----------|----------|
|**Network latency**| Network latency can contribute to how long it takes to move app instance data to new containers. |
|**Number of ASGs**| A large number of [Application Security Groups](../concepts/asg.html) in your deployment can contribute to an increase in app instance container startup time. |
|**Number of app instances and application growth**| A large increase in the number of app instances and average droplet size since the initial deployment can increase the upgrade impact on your system. |

To review example upgrade-related performance measurements of an existing production Cloud Foundry deployment, see the [Pivotal Web Services Performance During Upgrade](../opsguide/pws_upgrade_load.html) topic.

### <a id="bosh-clean-up"></a> Run BOSH Clean-Up

Run `bosh -e ALIAS clean-up --all` to clean up old stemcells, releases, orphaned disks, and other resources before upgrade. This cleanup helps prevent the product and stemcell upload process from exceeding the BOSH Director's available persistent disk space.


## <a id="health"></a> Check the Health of Your Deployment

The following sections describe steps for ensuring your deployment is healthy before you perform the upgrade.

### <a id="collect-foundation-health-status"></a> Collect Foundation Health Status

Pivotal recommends live-monitoring your upgrade with PCF Healthwatch, which monitors and alerts on the current health, performance, and capacity of PCF. To help operators understand the operational state of their PCF deployment, PCF Healthwatch:

* Stores, visualizes, and alerts on metrics from core PCF components, including BOSH-reported VM metrics. The service covers the recommended [Key Performance Indicators](../../monitoring/kpi.html) and [Key Scaling Indicators](../../monitoring/key-cap-scaling.html) for a given version of PCF.
* Executes health checks as continuous validation tests and creates super metrics. The service stores, displays, and forwards this data into the [Loggregator Firehose](../../loggregator/architecture.html#firehose) for external consumption by existing customer solutions. For more information, see [PCF Healthwatch Metrics](../../pcf-healthwatch/1-4/metrics.html) and [Access Super Metrics Through the Firehose](../../pcf-healthwatch/1-4/using.html#firehose).

If you are not using PCF Healthwatch, you can do some or all of the following to run and collect foundation health status:

* If your PCF deployment has external metrics monitoring set up, verify that VM CPU, RAM, and disk use levels are within reasonable levels.
* Run BOSH CLI commands to check system status:
	* `bosh -e ALIAS -d DEPLOYMENT_NAME instances --ps`. <p>`bosh instances` with the flags `--ps`,  `--vitals`, or `--failing` highlights individual job failure.</p>
	* `bosh -e ALIAS vms --vitals`. This reveals VMs with high CPU, high memory, high disk utilization, and with `state` != `running`.
	* `bosh -e ALIAS -d DEPLOYMENT_NAME cck --report`
* Check Ops Manager GUI each PAS/Tiles the status page for CPU/RAM/DISK utilization
* Validate Ops Manager persistent disk usage is below 50%. If not, follow Prep 6 in the [Ops Manager upgrade docs](../customizing/upgrading-pcf.html#prepare-env).

(Optional) Check the logs for errors before proceeding with the upgrade. For more information, see [Viewing Logs in the Command Line Interface](../devguide/deploy-apps/streaming-logs.html#view).

### <a id="push-test-app"></a> Push and Scale a Test App

Check that a test app can be pushed and scaled horizontally, manually or through automated testing. This check ensures that the platform supports apps as expected before the upgrade.

### <a id="validate-mysql-cluster-health"></a> Validate MySQL Cluster Health

If you are running Elastic Runtime MySQL as a cluster, run the `mysql-diag` tool to validate health of the cluster.

See the BOSH CLI v2 instructions in the [Running mysql-diag](../pas/mysql-diag.html) topic.

### <a id="check-health"></a> Review Recent Changes

1. Confirm there are no outstanding changes in Ops Manager or any other tile. All tiles should be **green**. Click **Apply Changes** if necessary.

1. After applying changes, click **Recent Install Logs** to confirm that the changes completed cleanly:
    <pre>
    Cleanup complete
    {"type": "step\_finished", "id": "clean\_up\_bosh.cleaning\_up"}
    Exited with 0.
    </pre>


## <a id="export"></a> Export Your Installation

To export your installation, do the following:

1. In your Ops Manager v2.0 **Installation Dashboard**, click the account dropdown and select **Settings**.

    <%= image_tag("./images/upgrade_to_1.9.png") %>

1. On the **Settings** screen, select **Export Installation Settings** from the left menu, then click **Export Installation Settings**.

    <%= image_tag("./images/export_install_settings.png") %>

This exports the current PCF installation with all of its assets.

When you export an installation, the export contains the base VM images, necessary packages, and configuration settings, but does not include releases between upgrades if Ops Manager has already uploaded them to BOSH. When backing up PCF, you must take this into account by backing up the BOSH blobstore that contains the uploaded releases. BOSH Backup and Restore (BBR) backs up the BOSH blobstore. For more information, see [Backing Up Pivotal Cloud Foundry with BBR](../customizing/backup-restore/backup-pcf-bbr.html).

* The export time depends on the size of the exported file.
* Some browsers do not provide feedback on the status of the export process and might appear to hang.

<p class="note"><strong>Note:</strong> Some operating systems automatically unzip the exported installation. If this occurs, create a ZIP file of the unzipped export. Do not start compressing at the "installation" folder level. Instead, start compressing at the level containing the <code>config.yml</code> file:</p>

<%= image_tag("./images/compress.png") %>

<p class="note warning"><strong>WARNING:</strong> If you fail to perform the remedial steps for this issue, this upgrade process may corrupt your existing usage data.</p>


## <a id="next-steps"></a> Next Steps

Now that you have completed the Upgrade Preparation Checklist for PCF v2.1, continue to [Upgrading Pivotal Cloud Foundry](../customizing/upgrading-pcf.html).


## <a id="survey"></a> Complete Survey

Please take some time to help us improve this document by completing the [Upgrade Checklist Survey](https://docs.google.com/forms/d/e/1FAIpQLScf9KuTbF3B9CjldMGqQxF-GA72xMR0DGzaGmhX4uWMrD8pOA/viewform?c=0&w=1).
