---
title: Upgrade Checklist for PCF v2.0 to v2.1
owner: Ops Manager
---

## <a id="compatibility"></a>Check Tile Compatibility

Before you upgrade to PCF v2.1, please check whether PCF v2.1 supports the service tile versions that you currently have deployed.

The [Product Compatibility Matrix](
http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) provides an overview of which PCF versions support which versions of the most popular service tiles from Pivotal.

To check PCF version support for any service tile, from Pivotal or a Pivotal partner:

* Navigate to the tile's download page on [Pivotal Network](https://network.pivotal.io).
* Select the tile version in the **Releases** dropdown.
* Refer to the **Depends On** section under **Release Details**. For more information, see the tile's release notes.

If the currently-deployed version of a tile is not compatible with PCF v2.1, you must upgrade the tile after you upgrade PCF. You need not upgrade tiles that are compatible with both PCF v2.0 and v2.1.

When you have completed your upgrade please take some time to complete [this survey](https://docs.google.com/forms/d/e/1FAIpQLScf9KuTbF3B9CjldMGqQxF-GA72xMR0DGzaGmhX4uWMrD8pOA/viewform?c=0&w=1).

## <a id="env"></a>Environment Details

Pivotal provides the empty table below as a template for recording and tracking the tile versions deployed in all of your environments.

|                                                                         |                                                                  | **Sandbox** | **Non-Prod** | **Prod** | **Other...** |
| ----------------------------------------------------------------------- | ---------------------------------------------------------------- | ------------ | ------------- | -------- | ------------ |
| **Pivotal Cloud Foundry**                                                   | [Ops Manager](https://network.pivotal.io/products/ops-manager) |              |               |          |              |
|                                                                         | [PAS](https://network.pivotal.io/products/elastic-runtime)     |              |               |          |              |
| **Pivotal Cloud Foundry Services**         | [MySQL v2](https://network.pivotal.io/products/pivotal-mysql)                                                            |              |               |          |              |
|                                                                         | [Redis](https://network.pivotal.io/products/p-redis)                                                            |              |               |          |              |
|                                                                         | [RabbitMQ](https://network.pivotal.io/products/p-rabbitmq)                                                         |              |               |          |              |
|                                                                         | [SSO                                                              |              |               |          |              |
|                                                                         | [Spring Cloud Services](https://network.pivotal.io/products/p-spring-cloud-services)                                            |              |               |          |              |
|                                                                         | [Concourse](https://network.pivotal.io/products/p-concourse)                                                        |              |               |          |              |
|                                                                         | ...                                                              |              |               |          |              |
| **Pivotal Cloud Foundry Partner Services** | [New Relic](https://network.pivotal.io/products/p-new-relic)                                                        |              |               |          |              |
|                                                                         | ...                                                           |              |               |          |              |

## <a id="anchor-4"></a>PAS 2.1 Known Issues in the Pivotal Knowledge Base

The following Pivotal Knowledge Base (KB) articles describe known issues for PCF v2.1:

* [Disabling SAML Identity Provider When Switching Identity Providers for PCF 2.1](https://discuss.pivotal.io/hc/en-us/articles/360000793534)
* [How to Bind Volume Services With a Read-Only Mount Point](https://discuss.pivotal.io/hc/en-us/articles/360000953413)
* [Graceful Shutdown of .NET apps in Cloud Foundry Windows](https://discuss.pivotal.io/hc/en-us/articles/115005092734)
* [Tile Smoke Tests Fail if they Assume a Shared System Domain Exists](https://discuss.pivotal.io/hc/en-us/articles/360001668154)
* [Restore from PAS Automated Database Backup is Not Supported in 1.11 and later](https://discuss.pivotal.io/hc/en-us/articles/360001817593)
* [How to Edit Ops Manager actual-installation.yml](https://discuss.pivotal.io/hc/en-us/articles/360000541414)
* [`Client Registration with UAA Failed` Error when Binding App to Single Sign-On (SSO) Instance](https://discuss.pivotal.io/hc/en-us/articles/360000580554)
* [Healthwatch Installation Fails on a Non-RFC 1918 Network](https://discuss.pivotal.io/hc/en-us/articles/360000475333)
* [How to Cancel All Queued BOSH Tasks Using director\_ctl](https://discuss.pivotal.io/hc/en-us/articles/360000765353)
* [BOSH Commands Hang Indefinitely or Timeout](https://discuss.pivotal.io/hc/en-us/articles/115015708488)
* [Deployment fails when PAS 2.1 is configured to use the NSX-T CNI plugin](https://discuss.pivotal.io/hc/en-us/articles/360003094974)
* [Errands intermittently fail with EOF error when executing `cf auth` on NetScaler](https://discuss.pivotal.io/hc/en-us/articles/360002507573)
* [Enabling EBS Volume Encryption for PCF on AWS](https://discuss.pivotal.io/hc/en-us/articles/360002514593)

## <a id="anchor-5"></a>PCF 2.1 Breaking Changes 

PCF 2.1 has the following breaking changes. For more information, see [PCF v2.1 Breaking Changes](http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/breaking-changes.html) in the PCF Release Notes.

<table>
<tbody>
<tr>
<th><strong>Breaking Change</strong></th>
<th><strong>Details</strong></th>
</tr>
<tr>
<td>Ops Manager removed IP address management</td>
<td><p>Prior to v2.1, Ops Manager allocated and assigned IP addresses manually in the deployment manifest. This caused deployment failures when Ops Manager and the BOSH Director had mismatches on their current IP address assignments.</p>
<p>Ops Manager now delegates IP address management to the BOSH Director, which gives operators more flexibility and prevents deployment failures.</p></td>
</tr>
<tr>
<td>Removal of Automated Backup Configuration for Internal MySQL</td>
<td><p>The PAS tile **Internal MySQL** pane no longer includes the **Automated Backups Configuration** field. Pivotal recommends that operators use [BOSH Backup and Restore](https://docs.pivotal.io/pivotalcf/customizing/backup-restore/index.html#bbr) to back up Internal MySQL components.</p>
<p>See <a href="https://discuss.pivotal.io/hc/en-us/articles/360001817593">Restore from PAS Automated Database Backup is Not Supported in 1.11 and later</a> in the KB.</p></td>
</tr>
<tr>
<td>Spring Cloud Services no longer stores binding credentials in environment variables.</td>
<td><p>Spring Cloud Services (SCS) 1.5.0 and later [uses CredHub](http://docs.pivotal.io/spring-cloud-services/tile-configuration.html#secure-service-instance-credentials-with-credhub) to store binding credentials, rather than saving them in environment variables.</p>
<p>See the <a href="http://docs.pivotal.io/spring-cloud-services/1-5/release-notes.html#1-5-0">SCS 1.5.0 Release Notes</a> for details.</p></td>
</tr>
<tr>
<td>When the Gorouter uses TLS to communicate with apps, it keeps app connections alive to prevent the performance impact from running TLS.</td>
<td>By default, each router instance maintains a max of 49 thousand open connections. A checkbox is available to disable this feature in the Ops Manager Director tile **Networking** pane, under **Enable Keepalive Connections for Router**.</td>
</tr>
<tr>
<td>In PCF 2.x with NSX-T networking, the PAS deployment does work. However, any later “Apply Changes” from the Ops Manager will result in the BOSH agent becoming unresponsive on all Diego Cells. </td>
<td>The workaround for this is to recreate the VM using BOSH CCK. This will allow the agent to startup, configure networking, and then proceed to run pre-start and post-start scripts. </td>
</tr>
</tbody>
</table>

## <a id="pre"></a>Pre-Checks for Upgrade

<table>
<tbody>
<tr>
<th><strong>Step</strong></th>
<th><strong>Note/Reason </strong></th>
<th><strong>Product or Component</strong></th>
</tr>
<tr>
<td>Before upgrading to PCF v2.1, please ensure that all service tiles installed on the foundation are upgraded to a compatible version.</td>
<td>Refer to the <a href="http://docs.pivotal.io/resources/product-compatibility-matrix.pdf">Compatibility Matrix</a> to verify the service tile installed are compatible. </td>
<td>PCF and Tiles </td>
</tr>
<tr>
<td><p>Back up your PCF deployment. See <a href="https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/index.html">Backing Up and Restoring Pivotal Cloud Foundry</a> and <a href="https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/disaster-recovery.html">Disaster Recovery in Pivotal Cloud Foundry</a></p></td>
<td><p>Pivotal recommends frequently backing up your installation settings before making any changes to your PCF deployment.</p></td>
<td>PCF</td>
</tr>
<tr>
<td>Read <a href="https://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-pcf.html"><em>upgrade notes</em></a> for upgrading to 2.1 and complete all relevant actions</td>
<td><p>Please review all of the upgrade notes.</p></td>
<td>PCF</td>
</tr>
<tr>
<td>Read and review <a href="http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/runtime-rn.html"><em>Release notes</em></a> for 2.1 PAS</td>
<td>See notes for details</td>
<td>PAS</td>
</tr>
<tr>
<td>Read and review <a href="http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/opsmanager-rn.html"><em>Release notes</em></a> for Ops Manager 2.1</td>
<td><p>Review all release notes for any feature changes that may affect you during or after upgrade.</p></td>
<td>Ops Man</td>
</tr>
<tr>
<td>Read and review known issues section for PAS 2.1 <a href="https://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/runtime-rn.html"><em>here</em></a> </td>
<td>This doc covers recommended actions, New issues and existing issues. Make sure to review both links!</td>
<td>PAS</td>
</tr>
<tr>
<td>Read and review known issues section for Ops Man 2.1 <a href="http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/opsmanager-rn.html#known-issues"><em>here</em></a></td>
<td>This doc covers recommended actions, new issues and existing issues for Ops Man 2.1</td>
<td>Ops Man</td>
</tr>
<tr>
<td>Read and review <strong>Breaking Changes</strong> for PCF PAS and Ops Man 2.1 <a href="http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/breaking-changes.html"><em>here</em></a></td>
<td>This topic describes the breaking changes you need to be aware of when upgrading to Pivotal Cloud Foundry (PCF) v 2.1</td>
<td>PCF</td>
</tr>
<tr>
<td>Review Diego network and Ports <a href="https://docs.pivotal.io/pivotalcf/1-12/security/networking/diego-network-paths.html"><em>here</em></a></td>
<td>This topic describes <a href="https://docs.pivotal.io/pivotalcf/1-12/concepts/diego/diego-architecture.html"><em>Diego</em></a> internal network communication paths with other Elastic Runtime components.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Run and collect foundation health status, there are a few ways:</p>
<ol>
	<li>If customer setup external metrics monitoring, verify all VM CPU/RAM/DISK utilization good</li>
	<li>Run BOSH CLI directly to verify the status:
		<ol><li><code>bosh -e ALIAS -d DEPLOYMENT_NAME instances --ps</code></li>
			<li><code>bosh -e ALIAS vms --vitals</code></li>
			<li><code>bosh -e ALIAS -d DEPLOYMENT_NAME cck --report</code></li>
		</ol></li>
	<li>Check Ops Manager GUI each ERT/Tiles the status page for CPU/RAM/DISK utilization</li>
	<li>Validate Ops manager persistent disk usage is below 50%. If not, follow Prep 6 in the <a href="https://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-pcf.html#prepare-env">Ops Manager upgrade docs</a>.</li>
</ol>
</td>
<td><p>To ensure that the foundation is in a healthy status before upgrading, run the following:</p>
<ul><li><code>bosh -e ALIAS vms --vitals to highlight any vms with high CPU, high memory, high disk utilisation. Also to identify where State != running.</code></li>
	<li><code>bosh -d DEPLOYMENT_NAME instances (--ps or --vitals or --failing) to highlight individual job failure</code></li>
</ul>
</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Review the KPI Changes from PCF v2.0 to v2.1</p>
<p>Refer to: </p>
<p><a href="https://docs.pivotal.io/pivotalcf/2-1/monitoring/kpi.html"><em>https://docs.pivotal.io/pivotalcf/2-1/monitoring/kpi.html</em></a> </p></td>
<td>This document highlights new and changed Key Performance Indicators (KPIs) that operators may want to monitor with their PCF deployment to help ensure it is in a good operational state.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Check the remaining Diego Cell RAM and Disk capacity that allow sufficient resources for app containers</p></td>
<td><p>The KPI that monitor these values are:</p>
<p>rep.CapacityRemainingMemory</p>
<p>rep.CapacityRemainingDisk</p>
<p>Please refer to <a href="https://docs.pivotal.io/pivotalcf/2-0/monitoring/kpi.html#cell"><em>this doc</em></a> for more information on these KPI.</p></td>
<td></td>
</tr>
<tr>
<td>Check that a test app can be pushed and scaled horizontally via manual or automatic test.</td>
<td>To ensure the platform is working as expected before upgrade in relation to pushing an app</td>
<td>PCF</td>
</tr>
<tr>
<td>If there is a requirement to adjust diego cell max inflight from the default you can do so by following documentation <a href="https://docs.pivotal.io/pivotalcf/1-11/adminguide/diego-cell-upgrade.html"><em>here</em></a></td>
<td>For PCF 1.10 and later, the default maximum in-flight diego cell instances is 4% The max_in_flight setting for the Diego cell job configured in the BOSH manifest. More details about this can be found <a href="https://docs.pivotal.io/pivotalcf/1-12/adminguide/diego-cell-upgrade.html#limitations-considerations"><em>here</em></a>.</td>
<td></td>
</tr>
<tr>
<td><p>If required you can disable unused PAS post deploy errands if not needed for example:</p></td>
<td><p>More information about Post Deploy Errands can be found <a href="https://docs.pivotal.io/tiledev/1-12/tile-errands.html#post-deploy"><em>here.</em></a></p>
<p>Only disable these errands if they are not needed for your environment. </p></td>
<td>PAS</td>
</tr>
<tr>
<td>Run `bosh -e &lt;alias&gt; clean-up --all` to cleanup old stemcells/releases/disks for one version upgrade.</td>
<td>This is done to avoid director persistent disk full during the new products stemcell/releases upload.</td>
<td></td>
</tr>
</tbody>
</table>

## <a id="during"></a>During Upgrade

<table>
<tbody>
<tr>
<th><strong>Step</strong></th>
<th><strong>Note/Reason </strong></th>
<th><strong>Product/component</strong></th>
</tr>
<tr>
<td>(Optional) Periodically take snapshots of storage metrics</td>
<td>This step is advised if you have a large foundation and you have experienced storage issues in the past.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Periodically Monitor progress:</p></td>
<td>Monitor the progress of the upgrade, checking the status of the foundation at various locations.</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Check instance count by state of Diego Components using cfdot.</p></td>
<td>Details regarding cfdot and its uses can be found <a href="https://github.com/cloudfoundry/cfdot"><em>here</em></a> </td>
<td>PAS</td>
</tr>
<tr>
<td><p>(Optional) In the event there are issues with the upgrade, perform the following tasks.</p></td>
<td>This information will be helpful in determining the cause of upgrade issues.</td>
<td>PCF</td>
</tr>
</tbody>
</table>

## <a id="post"></a>Post Upgrade

<table>
<tbody>
<tr>
<th><strong>Step</strong></th>
<th><strong>Note/Reason </strong></th>
<th><strong>Product/component</strong></th>
</tr>
<tr>
<td>After upgrading to 2.1 complete the steps outlined in the upgrading PCF 2.1 document <a href="https://docs.pivotal.io/pivotalcf/2-0/customizing/upgrading-pcf.html#after-upgrade"><em>here</em></a></td>
<td>Follow the steps outlined in the “After You Upgrade” section.</td>
<td>ALL</td>
</tr>
<tr>
<td>Perform performance test by pushing and scaling a test application.</td>
<td>Push and scale an app and verify it is working</td>
<td>PCF</td>
</tr>
<tr>
<td><p>Need to recreate your alias using BOSH</p>
<p>bosh alias-env &lt;alias&gt; -e &lt;director_IP&gt;</p></td>
<td>After upgrading your PCF environment you will need to recreate your alias in order to use BOSH login. </td>
<td>PCF</td>
</tr>
<tr>
<td>Run and collect health-check stats using the following commands:</td>
<td>To ensure that all Jobs and process are running as expected.</td>
<td>PCF and all Tiles</td>
</tr>
<tr>
<td>If you have added custom VM_TYPE or PERSISTENCE DISK TYPES, ensure that these values are correctly set and didn’t get overwritten.</td>
<td>Verify values are retained in Ops Manager UI</td>
<td>PCF</td>
</tr>
<tr>
<td><p>If PAS MySQL is being used with cluster setup, run the mysql-dialog tool to validate health of the cluster.</p>
<p>Refer to:</p>
<p><a href="http://docs.pivotal.io/p-mysql/1-10/mysql-diag.html#bosh-v2"><em>http://docs.pivotal.io/p-mysql/1-10/mysql-diag.html#bosh-v2</em></a></p></td>
<td>Validate the health of PAS MySQL after upgrading.</td>
<td>PAS</td>
</tr>
<tr>
<td>Run `bosh -e &lt;alias&gt; clean-up --all` to cleanup old stemcells/releases/disks for one version upgrade.</td>
<td>Cleans up releases, stemcells, orphaned disks, and other unused resources.</td>
<td>Tiles</td>
</tr>
</tbody>
</table>

## <a id="survey"></a>Survey

Please take some time to help us improve this document by completing the
following
survey:

[*https://docs.google.com/forms/d/e/1FAIpQLScf9KuTbF3B9CjldMGqQxF-GA72xMR0DGzaGmhX4uWMrD8pOA/viewform?c=0\&w=1*](https://docs.google.com/forms/d/e/1FAIpQLScf9KuTbF3B9CjldMGqQxF-GA72xMR0DGzaGmhX4uWMrD8pOA/viewform?c=0&w=1)
