---
title: Upgrading Ops Manager&colon; All-Version Reference
owner: Ops Manager
---

<style>
    .sidebar {
        display: none;
    }
</style>

<strong><%= modified_date %></strong>

This topic is a master reference for upgrade documentation. 

## Service Tile Compatibility

Before you upgrade, verify that the service tiles that you currently have are compatible with the new version of <%= vars.platform_name %>.

To review all the service tiles in your current deployment, use [Upgrade Planner](https://upgrade-planner.pivotal.io/). 

For information about how to use Upgrade Planner, see [Upgrade Planner](https://upgrade-planner.pivotal.io/docs).

## Upgrading Ops Manager

Use this table to find upgrade documentation for the version of your upgrade. 


<table border="1" class="nice">
<tr>
  <th>If you're upgrading to:</th>
  <th>Then read these release notes:</th>
  <th>And see this documentation:</th>
 </tr>
  <tr>
  <td>v2.9</td>
  <td><a href="http://docs.pivotal.io/platform/2-9/pcf-release-notes/">v2.9 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/platform/2-9/customizing/upgrading-pcf.html">v2.9 Upgrade Documentation</a></td>
 </tr>
  <tr>
  <td>v2.8</td>
  <td><a href="http://docs.pivotal.io/platform/2-8/pcf-release-notes/">v2.8 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/platform/2-8/customizing/upgrading-pcf.html">v2.8 Upgrade Documentation</a></td>
 </tr>
 <tr>
  <td>v2.7</td>
  <td><a href="http://docs.pivotal.io/platform/2-7/pcf-release-notes/">v2.7 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/platform/2-7/customizing/upgrading-pcf.html">v2.7 Upgrade Documentation</a></td>
 </tr>
  <tr>
  <td>v2.6</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/">v2.6 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-6/customizing/upgrading-pcf.html">v2.6 Upgrade Documentation</a></td>
  </tr>
 <tr>
  <td>v2.5</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/">v2.5 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-5/customizing/upgrading-pcf.html">v2.5 Upgrade Documentation</a></td>
  </tr>
 <tr>
  <td>v2.4</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/">v2.4 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-4/customizing/upgrading-pcf.html">v2.4 Upgrade Documentation</a></td>
  </tr>
  <tr>
  <td>v2.3</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/">v2.3 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-3/customizing/upgrading-pcf.html">v2.3 Upgrade Documentation</a></td>
  </tr>
   <tr>
  <td>v2.2</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/">v2.2 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-2/customizing/upgrading-pcf.html">v2.2 Upgrade Documentation</a></td>
  </tr> 
   <tr>
  <td>v2.1</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/">v2.1 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-pcf.html">v2.1 Upgrade Documentation</a></td>
  </tr> 
 <tr>
  <td>v2.0</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-0/pcf-release-notes/">v2.0 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-0/customizing/upgrading-pcf.html">v2.0 Upgrade Documentation</a></td>
  </tr> 
  <tr>
  <td>v1.12</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/">v1.12 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html">v1.12 Upgrade Documentation</a></td>
 </tr> 
 <tr>
  <td>v1.11</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-11/pcf-release-notes/">v1.11 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-11/customizing/upgrading-pcf.html">v1.11 Upgrade Documentation</a></td>
 </tr> 
 <tr>
  <td>v1.10</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-10/pcf-release-notes/">v1.10 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-10/customizing/upgrading-pcf.html">v1.10 Upgrade Documentation</a></td>
 </tr> 
 <tr>
  <td>v1.9</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-9/pcf-release-notes/">v1.9 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-9/customizing/upgrading-pcf.html">v1.9 Upgrade Documentation</a></td>
 </tr>
 <tr>
  <td>v1.8</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-8/pcf-release-notes/">v1.8 Release Notes</a></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html">v1.8 Upgrade Documentation</a></td>
 </tr>
</table>


