---
title: Upgrading Pivotal Cloud Foundry
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic is a master reference for Pivotal Cloud Foundry's upgrade documentation. 

## Product Compatibility Matrix

Before you upgrade Pivotal Cloud Foundry, read the [Product Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) to confirm your upgrade path is supported. The Product Compatibility Matrix provides a reference of supported upgrade paths for PCF and related product tiles.

## Upgrading Pivotal Cloud Foundry

Use this table to find upgrade documentation for the PCF version of your upgrade. 


<table border="1" class="nice">
<tr>
  <th>If you're upgrading to:</th>
  <th>Then read these release notes:</th>
  <th>And follow these procedures:</th>
 </tr>
 <tr>
  <td>v1.9</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-9/pcf-release-notes/">v1.9 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-9/customizing/upgrading-pcf.html"><b>Full v1.9 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-9/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-9/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> </td>
 </tr>
 <tr>
  <td>v1.8</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-8/pcf-release-notes/">v1.8 Release Notes</a></td>
  <td>
      <a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html"><b>Full v1.8 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> 
  </td>
 </tr>
 <tr>
  <td>v1.7</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-7/pcf-release-notes/">v1.7 Release Notes</a></td>
  <td>
      <a href="http://docs.pivotal.io/pivotalcf/1-7/customizing/upgrading-pcf.html"><b>Full v1.7 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-7/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-7/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> 
  </td>
 </tr>
 <tr>
  <td>v1.6</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-6/pcf-release-notes/">v1.6 Release Notes</a></td>
  <td>
      <a href="http://docs.pivotal.io/pivotalcf/1-6/customizing/upgrading-pcf.html"><b>Full v1.6 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-6/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-6/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> 
  </td>
 </tr>
</table>

