---
title: Upgrading Pivotal Cloud Foundry
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic is a master reference for Pivotal Cloud Foundry's upgrade documentation. 

## Product Compatibility Matrix

Before you upgrade Pivotal Cloud Foundry, read the [Product Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) to confirm your upgrade path is supported. The Product Compatibility Matrix provides a reference of supported upgrade paths for PCF and related product tiles.

## Upgrading Pivotal Cloud Foundry

Use this table to find upgrade documentation for the PCF version of your upgrade. 


<table border="1" class="nice">
<tr>
  <th>If you're upgrading to:</th>
  <th>Then read these release notes:</th>
  <th>And follow these procedures:</th>
 </tr>
  <tr>
  <td>v2.3</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/">v2.3 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-3/customizing/upgrading-pcf.html"><b>Full v2.3 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/2-3/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/2-3/customizing/upgrading-products.html">Upgrade Pivotal Application Service and other PCF Products</a></li>
       </ul></td>
  </tr>
   <tr>
  <td>v2.2</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/">v2.2 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-2/customizing/upgrading-pcf.html"><b>Full v2.2 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/2-2/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/2-2/customizing/upgrading-products.html">Upgrade Pivotal Application Service and other PCF Products</a></li>
       </ul></td>
  </tr> 
   <tr>
  <td>v2.1</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/">v2.1 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-pcf.html"><b>Full v2.1 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-products.html">Upgrade Pivotal Application Service and other PCF Products</a></li>
       </ul></td>
  </tr> 
 <tr>
  <td>v2.0</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-0/pcf-release-notes/">v2.0 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/2-0/customizing/upgrading-pcf.html"><b>Full v2.0 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/2-0/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/2-0/customizing/upgrading-products.html">Upgrade Pivotal Application Service and other PCF Products</a></li>
       </ul></td>
  </tr> 
  <tr>
  <td>v1.12</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-12/pcf-release-notes/">v1.12 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html"><b>Full v1.12 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-12/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul></td>
 </tr> 
 <tr>
  <td>v1.11</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-11/pcf-release-notes/">v1.11 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-11/customizing/upgrading-pcf.html"><b>Full v1.11 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-11/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-11/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul></td>
 </tr> 
 <tr>
  <td>v1.10</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-10/pcf-release-notes/">v1.10 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-10/customizing/upgrading-pcf.html"><b>Full v1.10 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-10/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-10/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul></td>
 </tr> 
 <tr>
  <td>v1.9</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-9/pcf-release-notes/">v1.9 Release Notes</a></td></td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-9/customizing/upgrading-pcf.html"><b>Full v1.9 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-9/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-9/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> </td>
 </tr>
 <tr>
  <td>v1.8</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-8/pcf-release-notes/">v1.8 Release Notes</a></td>
  <td>
      <a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html"><b>Full v1.8 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> 
  </td>
 </tr>
</table>


