---
title: Upgrading Pivotal Cloud Foundry
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic is a master reference for Pivotal Cloud Foundry's upgrade documentation. Supported versions' documentation is available on this site, and archived versions are available for download.

##Product Compatibility Matrix
Before you upgrade any version of Pivotal Cloud Foundry, read the [Product Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) to confirm your upgrade path. This document will help you upgrade supporting products to the minimum viable version certified to run PCF.

#Upgrading Pivotal Cloud Foundry

Use this table to find upgrade documentation for the version to which you wish to move. Remember to read the [Product Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) to identify any dependencies. 

<table border="1" class="nice">
<tr>
  <th>If you're upgrading to...</th>
  <th>Read these release notes</th>
  <th>Follow these procedures</th>
 </tr>
 <tr>
  <td>1.9</td>
  <td>dolor sit amet</td>
  <td>dolor sit amet</td>
 </tr>
 <tr>
  <td>1.8</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-8/pcf-release-notes/">1.8 Release Notes</a></td>
  <td>
      <a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html"><b>Full 1.8 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-8/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> 
  </td>
 </tr>
 <tr>
  <td>1.7</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-7/pcf-release-notes/">1.7 Release Notes</a></td>
  <td>
      <a href="http://docs.pivotal.io/pivotalcf/1-7/customizing/upgrading-pcf.html"><b>Full 1.7 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-7/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-7/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> 
  </td>
 </tr>
 <tr>
  <td>1.6</td>
  <td><a href="http://docs.pivotal.io/pivotalcf/1-6/pcf-release-notes/">1.6 Release Notes</a></td>
  <td>
      <a href="http://docs.pivotal.io/pivotalcf/1-6/customizing/upgrading-pcf.html"><b>Full 1.6 Upgrade Documentation</b></a><br />
      <ul>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-6/customizing/upgrading-pcf.html">Upgrade Operations Manager</a><br /></li>
       <li><a href="http://docs.pivotal.io/pivotalcf/1-6/customizing/upgrading-products.html">Upgrade Elastic Runtime and other PCF Products</a></li>
       </ul> 
  </td>
 </tr>
</table>
<!--   
<tr>
<td>1.5</td>
  <td><a href="http://docs.pivotal.io/archives/pcf-docs-1.5.pdf">The archived 1.5 documentation is available as a PDF.</a></td>
 </tr>
 <tr>
  <td>1.4</td>
  <td><a href="http://docs.pivotal.io/archives/pcf-docs-1.4.pdf">The archived 1.4 documentation is available as a PDF.</a></td>
 </tr>
 <tr>
  <td>1.3</td>
  <td><a href="http://docs.pivotal.io/archives/pcf-docs-1.3.pdf">The archived 1.3 documentation is available as a PDF.</a></td></td>
 </tr>
 <tr>
  <td>1.2</td>
  <td><a href="http://docs.pivotal.io/archives/pcf-docs-1.2.pdf">The archived 1.2 documentation is available as a PDF.</a></td></td>
 </tr>
</table>
-->