---
title: What Happens During PAS Upgrades
owner: Ops Manager
---

This topic explains what happens to Pivotal Application Service (PAS) components and apps during a PAS upgrade. 

## <a id="bosh-drains"></a> BOSH Drains Diego Cell VMs

During a PAS upgrade, BOSH drains all Diego cell VMs that host app instances. BOSH manages this process by upgrading a batch of cells one at a time.

When BOSH triggers an upgrade, each upgrading Diego cell enters evacuation mode. In evacuation mode, BOSH stops Diego cells and then schedules replacements for its app instances.

For more information, see [Diego Cell Upgrade Process](https://docs.pivotal.io/pivotalcf/2-1/adminguide/diego-cell-upgrade.html#process).

## <a id="cf-push"></a> cf push Can Become Unavailable

`cf push` is mostly available for the duration of a PAS upgrade. However, `cf push` can become unavailable when a single VM is in use or during BOSH Backup and Restore (BBR).

For more information, see [cf push Availability During Pivotal Application Service Upgrades](https://docs.pivotal.io/pivotalcf/2-1/customizing/cfpush-availability-during-upgrade.html).

## <a id="upgrade-limitations"></a>PAS Components Upgrade

During a PAS upgrade, components upgrade in a specific order. In a single-component environment, upgrading can cause the deployment to experience downtime and other limitations.

For more information, see [Upgrade Order and Limitations](https://docs.pivotal.io/pivotalcf/2-1/opsguide/single-component.html#components-order-limit).

## <a id="upgrade-example"></a> Upgrading Installation Example

For sample performance measurements of an upgrading Cloud Foundry installation, see [Upgrade Load Example: Pivotal Web Services](https://docs.pivotal.io/pivotalcf/2-1/opsguide/pws_upgrade_load.html).
